* {
    font-family: 'Share Tech', monospace;
}

.btn-sign-in {
    background: #fff;
    font: 16px/22px Roboto;
    padding: 4px 8px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.flexbox-regLog {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    justify-self: center;
	align-items: center;
    align-content: center;
    align-self: center;
}

.regLog {
    width: 320px !important;
    display: flex;
    justify-self: center;
    align-self: center;
}

.shadow-border {
    box-shadow: 0px 0px 15px -5px;
}

.todoTable {
    min-width: 720px;
}

#todoList tr td textarea, #todoList tr td input {
    border: none;
    border-radius: 100px;
}

#mainDiv {
    padding: 20px 0px;
    min-width: 1140px !important;
}

#container-kanban {
    height: Calc( 100vh - 120px );
    min-width: 1140px !important;
    padding: 0px;
}

.kanban-group {
    height: Calc( 100vh - 120px );
    width: 285px !important;
    overflow-x: wrap;
    overflow-y: scroll;
    display: flexbox;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    scrollbar-width: thin;
}

#kanban-planning {
    background-color: #F8BBD0;
}

#kanban-planning .h1 {
    box-shadow: 0px 40px 10px #F8BBD0 inset;
}

#kanban-planning .card {
    background-color: rgba(255, 255, 255, 0.3);
}

#kanban-planning .bottom-shade {
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    box-shadow: 0px -20px 10px #F8BBD0 inset;
}
#kanban-development {
    background-color: #FFECB3;
}

#kanban-development .h1 {
    box-shadow: 0px 40px 10px #FFECB3 inset;
}

#kanban-development .card {
    background-color: rgba(255, 255, 255, 0.3);
}

#kanban-development .bottom-shade {
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    box-shadow: 0px -20px 10px #FFECB3 inset;
}
#kanban-testing {
    background-color: #B3E5FC;
}

#kanban-testing .h1 {
    box-shadow: 0px 40px 10px #B3E5FC inset;
}

#kanban-testing .card {
    background-color: rgba(255, 255, 255, 0.3);
}

#kanban-testing .bottom-shade {
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    box-shadow: 0px -20px 10px #B3E5FC inset;
}
#kanban-production {
    background-color: #C8E6C9;
}

#kanban-production .h1 {
    box-shadow: 0px 40px 10px #C8E6C9 inset;
}

#kanban-production .card {
    background-color: rgba(255, 255, 255, 0.3);
}

#kanban-production .bottom-shade {
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    box-shadow: 0px -20px 10px #C8E6C9 inset;
}