* {
    font-family: 'Share Tech Mono', monospace;
}

.flexbox-regLog {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    justify-self: center;
	align-items: center;
    align-content: center;
    align-self: center;
}

.regLogWidth {
    max-width: 320px;
}

.todoTable {
    min-width: 720px;
}

#todoList tr td textarea, #todoList tr td input {
    border: none;
    border-radius: 100px;
}

.swal2-popup {
    background: #000 !important;
    border: 1px solid #fff;
}